<%- include('./head',{style:"home",title:"Home"}) %>
<header class="header">
    <div class="container">
        <h1 class="h1 justify-content">Sistema de Turnos Medicos</h1>
        <h2 class="h2 justify-content">Logueate</h2>
        <label class="nombre justify-content">Nombre de usuario</label>
        <p class="justify-content"><input type="name" name="nombre" placeholder="Usuario" className="input"></input></p>
        <label class="justify-content">Contraseña</label>
        <p class="justify-content"><input type="password" name="contraseña" placeholder="Ingrese la contraseña" className="input"></input></p>
        <p><button type="submit" class="input btn">Enviar</button></p>

    </div>
</header>